body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.note_box {
    font-style: italic;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.icon {
    width: 33px;
}

.tut_img {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1024px;
}

.phone_screenshot {
    display: block;
    padding: 15px;
    width: 400px;
}


body {
    max-width: 1024px;
    margin: auto;
    width: 80%;
    font-family: "Segoe UI", "Segoe UI Web", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial,sans-serif;
    font-size: 18px;
}

h1 {
    font-weight: 200;
    margin-bottom: 0;
}

h2 {
    color: rgb(66, 128, 188);
    font-weight: normal;
    margin-top: 50px;
}

h3 {
    color: rgb(66, 128, 188); 
    font-weight: normal;
    margin-top: 50px;
}

p {
    margin-top: 23px;
}
