body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


#azure_challenge_badge {
    float: right;
    margin-left: 15px;
}

header {
    background-color: #238AB4;
}

footer .footer-above {
    background-color: #238AB4;
}


section.success {
    color: #fff;
    background: #238AB4;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #BD3E25;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #BD3E25;
}



/*
Dark Blue: 238AB4
Turquoise: 45B39C
Yellow: EFC84A
Orange: D97940
Red: BD3E25
*/