{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
	<h1>Welcome to <a href="https://www.djangoproject.com/">Django</a> on <a href="http://azure.microsoft.com/en-us/services/">Azure</a></h1>
</div>

<div class="container"

<h1>Welcome to your blank canvas</h1>

<p>
    Now it the time to make any website you want!
    The main objective is to create a website and drive as much traffic as possible to it during the week. 
    Perhaps you create some sort of interactive game board.
    Or a micro blog for your experience during DjangoCon
    Or an about me page with links to your resume, projects, etc... 
    
</p>


<!--<img src="/static/app/images/azure_code_challenge_small.png" id="azure_challenge_badge" />-->

{% endblock %}
