{% extends "app/layout.html" %}

{% block content %}

<h1>DjangoCon 2015 Microsoft deployment challenge</h1>
<h2>Overview: Deploying your Django web apps on Microsoft Azure</h2>
<p>Did you know Python applications can be hosted on Microsoft Azure, too? Yes, that means your Django apps (and Flask, Bottle, and more!). Microsoft Azure is about much more than just Windows and .NET.</p>
<p>Microsoft Azure offers a wide array of creation, deployment and management capabilities through the Azure Management Portal, <a href="https://azure.microsoft.com/en-us/documentation/articles/xplat-cli/">x-plat CLI</a> (cross-platform, command-line interface), or PowerShell cmdlets.</p>
<h2>The Challenge</h2>
<ul>
    <li>Clone this GitHub repo.</li>
    <li>Run the app locally to confirm its working.</li>
    <li>Modify with your own information.</li>
    <li>Deploy the web app to Azure</li>
    <li>That's it! You've completed the challenge. Stop by the Microsoft booth to get you custom, limited-run t-shirt!</li>
</ul>

<div class="note_box">
    <span class="note-icon"></span>
    <h5>TL;DR</h5> 
    <p>You can actually just skip all of these steps by just forking the GitHub repo and deploying the app using the "easy" button. We get it. You're busy eating breakfast tacos, making new Django friends, and catching up with old ones. We won't hold it against you and you still get a t-shirt.</p>
</div>



<h3>Prerequisites</h3>
<p></p>
<p>To complete this challenge you'll need:</p>
<ul>
    <li>Azure account. Activate your Azure Pass now. (If you want to get started with Azure App Service before signing up for an Azure account, go to Try App Service, where you can immediately create a short-lived starter web app in App Service. No credit card required; no commitments.)</li>
    <li>Windows, Mac or Linux</li>
    <li>Python 2.7 or 3.4</li>
    <li>setuptools, pip, virtualenv (Python 2.7 only)</li>
    <li>Git and/or a GitHub account</li>
    <li><a href="http://go.microsoft.com/fwlink/?linkid=517189&clcid=0x409" target="_blank">Python Tools 2.1 for Visual Studio</a> - This is optional, but a great tool for Windows developers.</li>
</ul>

<h2>Steps</h2>
<p>These steps describes how to get started running Python on Azure Web Apps. Web Apps provides limited free hosting and rapid deployment, and you can use Python! As your app grows, you can switch to paid hosting, and you can also integrate with all of the other Azure services.</p>
<p>This is DjangoCon, so you we'll be using the Django web framework, of course. You will create a web app from the Azure Marketplace, set up deployment via local Git or GitHub. Then you will run the application locally, make changes, commit and push them to Azure. We'll show how to do this from Windows or Mac/Linux. </p>

<h3>Deploy the Web App to Azure</h3>

<p>The first step in creating your app is to create a web app via the Azure Portal.</p>
<ul>
    <li>Log into the Azure Portal and click the NEW button in the top left corner. Click Web + Mobile > Azure Marketplace > Web Apps.
        <img src="" alt="Click Web + Mobile > Azure Marketplace > Web Apps">
    </li>
    <li>Configure the new Django app, such as creating a new App Service plan and a new resource group for it. Then, click Create.
        <img src="" alt="Click Web + Mobile > Azure Marketplace > Web Apps">
    </li>
</ul>

<h3>Clone the DjangoCon challenge repo and run locally</h3>
<p>You have a few options here, but the simplest one is to simply clone the GitHub repo:</p>

<pre><code>git clone https://github.com/atxryan/DjangoCon
cd https://github.com/atxryan/DjangoCon</code></pre>

<h3>Create virtual environment -- Command Line</h3>
<p>We'll create a new virtual environment for development purposes (do not add it to the repository). Virtual environments in Python are not relocatable, so every developer working on the application will create their own locally.</p>

For Python 2.7:
<pre><code>python -m virtualenv env</code></pre>
For Python 3.4:
<pre><code>python -m venv env</code></pre>
Install the external packages required by your application. In our case, the only requirement is Django. You can use the requirements.txt file at the root of the repository to install the packages in your virtual environment:
<pre><code>env/bin/pip install -r requirements.txt</code></pre>

<h3>Let's take a look at the app structure</h3>

    <pre><code>- app
    - static/app
    - templates/app
        - index.html
        - layout.html
- djangocon
    - __init__.py
    - local_settings.py.SAMPLE
    - settings.py
    - urls.py
    - wsgi.py
- .gitignore
- db.sqlite3
- manage.py
- <b>ptvs_virtualenv_proxy.py</b>
- readme.md
- <b>requirements.txt</b>
- <b>web.2.7.config</b>
- <b>web.3.4.config</b>
- web.debug.config</code>
</pre>
<p>It's a very basic Django app, with a few files you may not recognize. The following files are needed to deploy your Django application to Azure.</p>
<p><strong>requirements.txt</strong> - External packages needed by this application. The deployment script will pip install the packages listed in this file.</p>
<p><strong>ptvs_virtualenv_proxy.py</strong> - IIS proxy for virtual environments and PTVS remote debugging support.</p>
<p><strong>Web.2.7.config</strong> and <strong>web.3.4.config</strong> - These are IIS configuration files. The deployment script will use the appropriate web.x.y.config and copy it as web.config.</p>

<h3>Modify with your own information</h3>

[TBD]

<h3>Deploy the Web App to Azure</h3>
<p>Configure Git publishing for your newly created web app by following the instructions at Continuous deployment using GIT in Azure App Service.</p>

<pre><code>git remote add azure</code></pre>

<h2>Congrats! You've just deployed your app to Azure!</h2>
<p>You can find additional resources and infomation about Azure deployments <a href="/additional_resources">here</a>.

{% endblock %}
